<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <% if can? :read, Article %>
        <% @articles.each { |f| %>
            <div class="post-preview">
              <h2 class = 'post-title'>
                <%= link_to "#{f.title}",article_path(f) %>
              </h2>
              <h3 class="post-subtitle">
                <%= f.text %>
              </h3>
              <p class="post-meta">Posted by <strong><%= f.user.user_name %></strong> on <strong><%= f.create_date %></strong></p>
              <p class="post-meta"><%= f.calculate_coments %> comments</p>
              <p>
                <% if can? :destroy , Article %>
                    <span class="post-meta"><%= link_to 'Delete',article_path(f),method: :delete,data:{confirm:'Are you sure ?'} %></span>
                <% end %>
                <% if can? :update , Article %>
                    <span class="post-meta"><%= link_to 'Edit',edit_article_path(f) %></span>
                <% end %>
              </p>
            </div>
        <% } %>
    <% end %>
  </div>
  <span class="paginate"><%= will_paginate @articles %></span>
</div>