<% if can? :read, Article %>
<article>
<h2 class = 'post-title'>
  <%= @article.title %>
</h2>
  <p>
    <%= @article.text %>
  </p>
  <% if @article.avatar? %>
      <p><%= image_tag @article.avatar.url %></p>
  <% end %>
  <hr>
</article>
<% if can? :read, Coment %>
    <div class = 'coment'>
      <% @article.coments.each do |comment| %>
          <p><%= comment.text %></p>
          <% unless comment.user.nil? %>
              <p class="post-by"><%=  t('articles.posted_by') %> <%= comment.user.email%></p>
          <% end %>
          <% if can? :update , Coment %>
              <%= link_to  t('links.edit'), edit_article_coment_path(@article,comment) %>
          <%  end  %>
          <% if can? :destroy , Coment%>
              <%= link_to  t('links.delete'), article_coment_path(@article,comment),method: :delete,data:{confirm:'Are you sure ?'} %>
          <% end %>
          <hr>
      <% end %>
    </div>
<% end %>
<% if can? :create, Coment %>
    <%= render 'coments/form_comment' %>
<% end %>
<br><%= link_to articles_path do %>
    <i class="fa fa-undo" aria-hidden="true">  <%= t('links.previous_page') %></i>
<% end %>
<% end %>