<p><span class = "bg-info"><%= t('links.edit') %></span></p>
<%= form_for [@article, @coment] do |f| %>
    <div class = 'form-group'>
      <%= f.text_area :text, class: 'form-control' %>
    </div>
    <div class = 'form-group'>
      <%= f.submit t('links.edit'), class: 'btn btn-success' %>
    </div>
    <br><%= link_to articles_path do %>
        <i class="fa fa-undo" aria-hidden="true">  <%= t('links.previous_page') %></i>
    <% end %>
<% end %>
 

