<div>
  <h1><%= t('orders.details') %>: </h1>
  <p><%= t('orders.service') %>: <strong><%= @order.service %></strong></p>
  <p><strong><%= t('orders.title') %>:</strong> <%= @article.title %></p>
  <p><strong><%= t('orders.price') %>:</strong> <%= @article.price %> $</p>
</div>

<div>
  <% case @order.service %>
  <% when 'liqpay' %>
      <p><%=liqpay_button @liqpay_request, title: "Pay now" %></p>
  <% when 'stripe' %>
      <p><%= render 'shared/stripe_form' %></p>
  <% when 'paypal' %>
      <p><%= render 'shared/paypal_form' %></p>
  <% end %>
  <p><%= link_to t('links.cancel'), root_path, class: "btn btn-primary" %></p>
</div>