<!DOCTYPE html>
<html>

<head>
  <title>Blog</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<div class = 'container-fluid'>
  <div class='row-fluid'>
    <%= render 'shared/header' %>
  </div>
  <div class = 'row-fluid'>
    <div class = "main_container">
      <%= yield %>
    </div>
  </div>
  <div class='row-fluid'>
    <%= render 'shared/footer' %>
  </div>
</div>
<%= yield :custom_js %>
</body>

</html>